@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'consolas' , monospace;
}

body {
    background-color: #1D1F21;
    color: #EEEEEE;

    @apply antialiased
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D1F21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6B7280;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

/* Global page transtions */

.fade-enter-active {
  transition: opacity 1s;
}

.fade-enter {
  opacity: 0;
}

/* Custom CSS Comps */

.contain {
  @apply w-11/12 md:w-3/5 mx-auto
}

.text-border {
  @apply bg-[#31363B] px-1 rounded-md
}

/* Blog styling */

strong {
  @apply border-dotted border-2 rounded-sm px-1 border-cuppy bg-[#131313]
}

h3 {
  @apply text-2xl font-bold decoration-cuppy underline underline-offset-8
}

pre {
  @apply rounded-md
}